.searchbox{
  width: 30vw;
}

.Container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
}
.Findbox{
  display: flex;
  flex-direction: column;
  
  align-items: center;
}

.Result{
  height: 70vh;
  width: 80vw;
  /* border: 2px solid red; */
  margin-top:40px;
  display: flex;
}

.cardCls{
  margin:0px 20px;
}